:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;

    --Roboto: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

    
    --cuerpos-de-texto: 12px;
    --oferta: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
